* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	/*font-family: 'Exo 2', sans-serif;*/
	max-width: 1280px;
	margin: 0 auto;
}
section {
	width: 1280px;
	height: 800px;
	background-image: url(/images/bg.jpg);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
}
div.blur {
	position: absolute;
	width: 820px;
	height: 510px;
	background-image: url(/images/bg.jpg);
	-webkit-filter: blur(5px);
	        filter: blur(5px);
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 0;
}
div.content {
	position: absolute;
	width: 820px;
	height: 510px;
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
div.content h1 {
	font-family: 'Exo 2', sans-serif;
	font-size: 50px;
	padding: 35px 0;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
