* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #fff;
	/*font-family: 'Exo 2', sans-serif;*/
	max-width: 1280px;
	margin: 0 auto;
}
section {
	width: 1280px;
	height: 800px;
	background-image: url(/images/bg.jpg);
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	        justify-content: center;
	-ms-flex-align: center;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	        align-items: center;
	position: relative;
}
div.blur {
	position: absolute;
	width: 820px;
	height: 510px;
	background-image: url(/images/bg.jpg);
	-webkit-filter: blur(3px);
	        filter: blur(3px);
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 0;
}
div.content {
	position: absolute;
	width: 820px;
	height: 510px;
	z-index: 1;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	        flex-direction: column;
}
div.content h1 {
	font-family: 'Exo 2', sans-serif;
	font-size: 50px;
	padding: 25px 0;
	text-align: center;
	text-transform: uppercase;
}
div.icons {
	text-align: center;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 1px 1px 0px rgba(255, 255, 255, 0.3);
}
div.main {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
div.text {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	padding: 20px 10px 40px 30px;
}
div.text p {
	padding-top: 15px;
	font-weight: 700;
	font-size: 20.5px;
	line-height: 30px;
}
div.text p ~ p {
	padding-top: 30px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
div.text p ~ p span {
	font-weight: 900;
}
div.form {
	padding: 20px 30px 0px 10px;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
div.form input, div.form select {
	height: 40px;
	font-size: 12px;
	line-height: 26px;
	padding-left: 10px;
	margin: 15px 0 20px;
}
div.form div.approval {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
div.form div.approval input {
	height: 16px;
	width:  16px;
	margin: 0;
	display: inline;
}
div.form p {
	font-size: 10px;
	line-height: 14px;
}
